# Data exploration 

---

Group name: Gruppe E

---

## Introduction

Die Daten enthalten Informationen darüber, wie Amerikaner ihr Steak mögen (well, medium-well, medium, medium-rare oder rare) und wie risokoreich Amerikaner sind.  Zudem wurde das Alter, das Geschlecht, die Location, ob getraucht wird sowie ob Alkohol getrunden wird, erfasst. Die Erhebung der Daten fand unteranderem statt, um zu untersuchen, ob es einen Zusammenhang zwischen dem Zustand des Steaks und der Risikobereitschaft gibt.

## Setup

In [11]:
import pandas as pd
import altair as alt

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [12]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Data

## Import data

In [13]:
ROOT = "https://raw.githubusercontent.com/eo026/homework-1/main/data/external/"
DATA = "data.csv"

df = pd.read_csv(ROOT + DATA)

### Data structure

In [14]:
df

,RespondentID,"Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?",Do you ever smoke cigarettes?,Do you ever drink alcohol?,Do you ever gamble?,Have you ever been skydiving?,Do you ever drive above the speed limit?,Have you ever cheated on your significant other?,Do you eat steak?,How do you like your steak prepared?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Response,Response,Response,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.237566e+09,Lottery B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.234982e+09,Lottery A,No,Yes,No,No,No,No,Yes,Medium rare,Male,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
3,3.234973e+09,Lottery A,No,Yes,Yes,No,Yes,Yes,Yes,Rare,Male,> 60,"$150,000+",Graduate degree,South Atlantic
4,3.234972e+09,Lottery B,Yes,Yes,Yes,No,Yes,Yes,Yes,Medium,Male,> 60,"$50,000 - $99,999",Bachelor degree,New England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,3.234762e+09,Lottery B,No,No,No,No,Yes,No,Yes,Medium rare,Female,18-29,"$25,000 - $49,999",High school degree,South Atlantic
547,3.234762e+09,Lottery A,No,Yes,No,Yes,Yes,No,No,NaN,Female,> 60,"$50,000 - $99,999",Some college or Associate degree,Mountain
548,3.234761e+09,Lottery A,Yes,Yes,Yes,No,Yes,No,Yes,Medium rare,Male,30-44,"$50,000 - $99,999",Some college or Associate degree,South Atlantic
549,3.234761e+09,Lottery A,No,Yes,Yes,No,Yes,Yes,No,NaN,Female,45-60,"$50,000 - $99,999",Some college or Associate degree,Pacific
550,3.234760e+09,Lottery B,Yes,Yes,Yes,No,Yes,No,Yes,Medium,Male,18-29,"$0 - $24,999",NaN,Mountain

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 15 columns):
 #   Column                                                                                                                                                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                             --------------  -----
 0   RespondentID                                                                                                                                                                                                                                                                       550 non-null    float64
 1   Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?  547 non-null    object
 2   Do you ever smoke cigarettes?                                                                                                                                                                                                                                                      538 non-null    object
 3   Do you ever drink alcohol?                                                                                                                                                                                                                                                         542 non-null    object
 4   Do you ever gamble?                                                                                                                                                                                                                                                                538 non-null    object
 5   Have you ever been skydiving?                                                                                                                                                                                                                                                      539 non-null    object
 6   Do you ever drive above the speed limit?                                                                                                                                                                                                                                           540 non-null    object
 7   Have you ever cheated on your significant other?                                                                                                                                                                                                                                   540 non-null    object
 8   Do you eat steak?                                                                                                                                                                                                                                                                  540 non-null    object
 9   How do you like your steak prepared?                                                                                                                                                                                                                                               433 non-null    object
 10  Gender                                                                                                                                                                                                                                                                             515 non-null    object
 11  Age                                                                                                                                                                                                                                                                                515 non-null    object
 12  Household Income                                                                                                                                                                                                                                                                   431 non-null    object
 13  Education                                                                                                                                                                                                                                                                          513 non-null    object
 14  Location (Census Region)                                                                                                                                                                                                                                                           513 non-null    object
dtypes: float64(1), object(14)
memory usage: 64.7+ KB

### Data corrections

In [36]:
df['How do you like your steak prepared?'] = df['How do you like your steak prepared?'].astype("category")

## Exploratory data analysis

In [37]:
source = df['How do you like your steak prepared?']

In [38]:
alt.Chart(source).mark_bar().encode(
    x=alt.X('How do you like your steak prepared?'),
    y=alt.Y('count(How do you like your steak prepared?)')
)

ValueError: How do you like your steak prepared? encoding field is specified without a type; the type cannot be automatically inferred because the data is not specified as a pandas.DataFrame.

alt.Chart(...)